<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">phileo編集</h2>
      <%# 部分テンプレートでフォームを表示する %>
       <%= render partial: "form",locals: { cook: @cook } %>
    </div>
  </div>
</div>

<div class="new-items">
  <div class="weight-bold-text">
  <div class="avatar">
    <%= image_tag "avatar.JPG", class:"avatar" %>
</div>
  <div class="cook__body">
    <div class="cook__detail">
        <p class="detail__title"> </p>
          <p class="detail__message">
             <%= @cook.store %>
          </p>
     </div>
  </div>
<%= f.text_area :title, class:"items-text", id:"phileo-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
  <%= @cook.title %>
  <div class="wrapper">
    <div class="store_main">
      <p><%= @cook.store %></p>
    </div>  <!--  /.store_main-->

    <div class="title_main">
      <p><%= @cook.title %></p>
    </div>  <!--  /.title_main-->

    <div class="cooksentence_main">
      <p><%= @cook.cooksentence %></p>
    </div>  <!--  /.cooksentence_main-->
       
    <div class="side-bar_store">
      <p><%= @cook.address %></p>
      <p><%= @cook.phone_number %></p>
      <p><%= @cook.open_day %></p>
      <p><%= @cook.holiday_day %></p>
      <p><%= @cook.regular_holiday %></p>
    </div> <!--  /.side-bar_store-->
  </div>   <!--  /.wrapper--