<main class="main">
  <div class="inner">
    <div class="cook__wrapper">
      <p class="cook__hedding">
      </p>
     
      <div class="cook_images">
        <%@cook.images.each do |image| %>
          <div class="cook_hoge">
          <div class="cook_image">
            <%= image_tag image %> 
          </div>
          </div>
        <% end %>
  
      </div>

      <div class="avatar">
        <%= image_tag "avatar.JPG", class:"avatar" %>
      </div>

      <div class="cook__body">
        <div class="cook__detail">
          <p class="detail__title">
          </p>
          <p class="detail__message">
            <%= @cook.store %>
          </p>
        </div>
      </div>
      <div class="prototype__detail">
        <p class="detail__title"></p>
        <p class="detail__message">
          <%= @cook.title %>
        </p>
      </div>
    </div>
    
  </div>
    <%= @cook.cooksentence %>
     <p>
    <%= @cook.address %>
     </p>
    <p>
    <%= @cook.phone_number %>
    </p>
    <p>
    <%= @cook.open_day %>
    </p>
     <p>
    <%= @cook.holiday_day %>
    </p>
    <p> 
    <%= @cook.regular_holiday %>
    </p>

</main>
      
  

  
    
