<%=  javascript_pack_tag 'hello_vue' %>
<main class="main">
  <div class="cook_wrapper">
    <%@cook.images.each do |image| %>
      <div class="cook_image"><%= image_tag image %> </div>
    <% end %>
  </div>

  <div class="avatar"> <%= image_tag "avatar.JPG" %></div>島田 達郎
  <p>食・グルメ・ホテル紹介のキューレータ（沖縄限定）</P>
  <div class="島田 達郎"></div>
    

  <div class="store_catchcopy"><%= @cook.store_catchcopy %></div>
  
  <div class="place"><%= @cook.store %></div>
  
  <div class="sentence"><%= @cook.sentence %></div> 
   
  <h1>旨レポ</h1>
  <%= link_to "旨レポを投稿",    new_umarepo_path, method: :new,class:"umarepowotoukou"%>

  <%@umarepos.each do |umarepo| %>
    <div class="umarepo-title"> <%= umarepo.title %></div>
    <div class="umarepo-comment"><%= umarepo.comment %></div>
    <%umarepo.images.each do |image| %>
      <div class="umarepo_image"><%= image_tag image %> </div>
    <% end %>
  <% end %>

  <h2>店舗情報</h2>
  <div  id="test3"></div>
  <div class="store"> <%= @cook.store %></div>
  <div class="category"> <%= @cook.category %></div>
  <div class="address"><%= @cook.address %> </div> 
  <div>電話番号 :<a href="tel: <%= @cook.phone_number %>"><%= @cook.phone_number %></a></div>
 
  <% if current_user.admin? %>
    <%= link_to "商品の編集", edit_cook_path(@cook.id), method: :get, class: "item-red-btn" %>
    <%= link_to "削除", cook_path(@cook.id), method: :delete,class:"cook-destroy"%>
  <% end %> 
</main>

