<%=  javascript_pack_tag 'hello_vue' %>
<main class="main">
  <div class="cook_wrapper">
    <%@cook.images.each do |image| %>
      <div class="cook_image"><%= image_tag image %> </div>
    <% end %>
  </div>
  <% @cook.videos.each do |video| %>
      <video src=<%= rails_storage_redirect_path(video) %> controls></video>
  <% end %>
  
  <div class="avatar_main">
    <div class="avatar"> <%= image_tag "avatar.JPG" %></div>
    <div>
      <div class="curator_name">島田達郎</div>
      <p><div class ="curator_job">食・グルメ・ホテル紹介のキューレータ（沖縄限定)</div></p>
    </div>
  </div>

  <div class="store_catchcopy"><%= @cook.store_catchcopy %></div>
  
  <div class="place"><%= @cook.store %></div>
  
  <div class="sentence"><%= @cook.sentence %></div> 
   
  <h1>旨レポ</h1>
  <%= link_to "旨レポを投稿", new_cook_umarepo_path(@cook.id), class:"umarepowotoukou"%>
  
  <%@umarepos.each do |umarepo| %>
    <%umarepo.images.each do |image| %>
    <div class="umarepo_flex">
      <div class="umarepo_image img"><%= image_tag image %> </div>
    <% end %>
      <div>
        <div class="umarepo-title"> <%= umarepo.title %></div>
        <div class="umarepo-curator"><%= umarepo.curator %></div>
        <div class="umarepo-comment"><%= umarepo.comment %></div>
      </div>
  </div>

  <% if @umarepo.favorite?(current_user) %>
    <%# # 一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ %>
    <%= link_to cook_umrepo_favorites_path(@cook.id), method: :delete do %>
        <span style="color:red;">❤︎</span>
    <% end %>
    <% else %>
    <%# # 一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ %>
      <%= link_to cook_umarepo_favorites_path(@cook.id), method: :post do %>
        <span>❤︎</span>
      <% end %>
    <% end %>
  <% end %>
  
    <h2>店舗情報</h2>
    <div  id="test3"></div>
    <div class="store"> <%= @cook.store %></div>
    <div class="category"> <%= @cook.category %></div>
    <div class="address"><%= @cook.address %> </div> 
    <div>電話番号 :<a href="tel: <%= @cook.phone_number %>"><%= @cook.phone_number %></a></div>
  <% if current_user.admin? %>
    <%= link_to "商品の編集", edit_cook_path(@cook.id), method: :get, class: "item-red-btn" %>
    <%= link_to "削除", cook_path(@cook.id), method: :delete,class:"cook-destroy"%>
  <% end %> 
</main>



