<%=  javascript_pack_tag 'hello_vue' %>
<main class="main">
  <div class="inner">
    <div class="cook__wrapper">
      <p class="cook__hedding">
      </p>
     
      <div class="cook_images">
        <%@cook.images.each do |image| %>
        <div class="cook_hoge">
        <div class="cook_image">
          <%= image_tag image %> 
        </div>
        </div>
        <% end %>
  
      </div>

      <div class="avatar">
        <%= image_tag "avatar.JPG", class:"avatar" %>
      </div>

      <div class="cook__body">
        <div class="cook__detail">
          <p class="detail__title">
          </p>
          <p class="detail__message">
            <%= @cook.store %>
          </p>
        </div>
      </div>
      <div class="prototype__detail">
        <p class="detail__title"></p>
        <p class="detail__message"> </p>
      </div>
   
   
      <div class="title_main">
        <p><%= @cook.holiday_day %></p>
      </div>  

      <div class="cooksentence_main">
        <p><%= @cook.cooksentence %></p>
      </div>  
    </div>  
     <h1>
    店舗情報 
     </h1>
     <div class="title_main">
       <p><%= @cook.holiday_day %></p>
      </div>  

      
   <div id="test3"></div>
    <p><%= @cook.regular_holiday %></p>
    <div class="wrapper">
      <div class="store_main">
       <p><%= @cook.store %></p>
 
   
      
    
      <div class="side-bar_store">
      <p><%= @cook.address %></p>
        <div>電話番号 :<a href="tel: <%= @cook.phone_number %>"><%= @cook.phone_number %></a></div>
       
      
      <p><%= @cook.open_day %></p>
    
     </div> 
    </div>   
  </div>
  
  #ユーザー（開発者側）のみ表示させたい。
  #開発者側専用の管理画面を作成した方が良いか、別のページに遷移（記載）させた方が良いか。
  <% if  user_signed_in? %>
    <%= link_to "商品の編集", edit_cook_path(@cook.id), method: :get, class: "item-red-btn" %>
    <%= link_to "削除", cook_path(@cook.id), method: :delete,class:"cook-destroy"%>
  <% end %> 
  
</main>

