<div class='mikaiinn'>
   <h2>まだ会員登録されていない方</h2>
</div>

<div class='susumu'>
  <%= link_to "会員登録にすすむ",new_user_registration_path%> 
</div>

<div class='sumi'>
  <p><h3>会員登録済みの方</h3></P>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class='email'>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
  
    <div class="login">
    
    ※会員登録時前に<%= link_to '利用規約', orders_kiyaku_path, class: "kiyaku" %>をご確認ください
    <br>
     <%= f.submit 'ログイン' %>
    
    </div>
  <%end%>

  <%= link_to 'Twitterでログイン', user_twitter_omniauth_authorize_path, method: :post%>
  <%= link_to 'Facebookでログイン', user_facebook_omniauth_authorize_path, method: :post%>
  <%= link_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path, method: :post%>
</div>


