<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
</head>
<h1>

</h1>

<style>
  #top-search {
    width: 100%;
    height: 480px;
    margin-bottom: 100px;
    background: url('https://imgsv.nikon-image.com/products/mirrorless/lineup/z_50/img/sample/pic_01_l.jpg') no-repeat 50%;
    background-size: cover;
    font-size: 30px;
    text-align:center;
    padding-top:40px;

  }
</style>

<div id="top-search">
 <p class="hoge">”絶対にハズさない'</p>
  <p>'美味しいお店を検索できる </p>
  <%= search_form_for @p, url: cooks_search_path do |f| %>
  <div class="prefecture">
    <%= f.label :place_name_eq, '沖縄県' %>
    <%= f.collection_select :name_eq, @places, :name, :name, {include_blank: '那覇市'}, class:"test2" %>
     <%= f.submit '検 索' %>
  </div>
  </div>
  <div class="search">
  </div>
  <% end %>

  <% if current_user.present? && current_user.admin? %>
     <%= form_with url: new_cook_path, local: true do |f| %>
       <%= f.submit "DBの登録", class: "sel-btn" %>

      <% end %>
      <%= link_to "旨レポを投稿",    new_cook_umarepo_path, method:post :new,class:"umarepowotoukou"%> 
  
</div>

<%# 商品一覧 %>
<% @places.each do |place| %>
  <br>
  <li>
    <%= place.name %>

  </li>
<% end %>
