<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="PHILEO [フィレオ] は那覇出身の沖縄観光キュレーターの絶対にハズさない本当に美味しいお店が探せる検索サイトです" />
    <script type="text/javascript" src="https://js.pay.jp/v2/"></script>

    <title>PHILEO [フィレオ] | 絶対にハズさない美味しいお店の検索サイト</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
           phileo
          </div>
            <div class="nav__right">
            </div> 
        </div>
      </div>   
    </header>
    <%= yield %>
     <% if current_user %>
      <%= button_to 'アカウントを削除', destroy_account_user_path(current_user), method: :delete, data: { confirm: '本当にアカウントを削除しますか？' } %>
      <% end %>

       <% if current_user %>
      <%= button_to 'サブスクを退会', destroy_account_user_path(current_user), method: :delete, data: { confirm: '本当に退会致しますか？' } %>
      <% end %>

    <ul class="test">
      <% if user_signed_in? %>
        <li><%= link_to "ログアウト",  destroy_user_session_path, method: :delete %></li>
        <li><%= link_to current_user.email, "#", class: "user-nickname"%> </li> 
        <li><%= link_to '',destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %> 
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class:  "sign-up" %></li>  
        <li class="kiyaku"> <%= link_to "利用規約",   orders_kiyaku_path ,class:  "orders-kiyaku"%> </li>
      <% end %>
    </ul> 
  </body>
</html>
